{% extends 'kky_base/base_with_navbar.html' %}

{% block content %}
<div class="account-background">
    <main class="content-list">
        <div class="zokbo-list">
          <h1>암호변경</h1>
          <br>
          <form class= "content" action="" method="POST">
            {% csrf_token %}
            {{form}}
            <div class ="submit">
              <br>
              <input type="submit" value ="작성완료">
              <a class ="return-button" href = "{% url 'profile' user.id %}">돌아가기</a>
            </div>
          </form> 
        </div>
    </main>
</div>
{% endblock content %}





