{% extends 'kky_base/base_with_navbar.html'%}
{% load static %}
{% block content %}
<div class = 'review-detail'>
    <div>
        <p class ="title">{{post.class_name}}</p>&nbsp;
        <p>좋아요 수 : {{post.like_count}}</p>
        <a href = {% url 'post-like' post.id %}>
            {% if post in user.author.like_count.all %}
                <img src = "{% static 'trade/assets/empty-heart.PNG' %}">
            {% else %}
                <img src = "{% static 'trade/assets/heart.PNG' %}">
            {% endif %}
        </a>
        <div class = "review-author">
            <div class = "cp-avatar" style="background-image:url('{{post.author.profile_pic.url}}')"></div>
            <a href= "{% url 'profile' post.author.id %}">{{post.author.username}}</a>
            <date id="date-time" class="date">{{post.dt_created|date:"Y년 n월 j일"}}</date>
        </div>
    </div>
    <div class ="zokbo-content">
        <div>
            <p> 교수님: {{post.professor_name}}</p>
        </div>
        <div>
            <div>
                <span>
                    평점:
                    {% for i in ""|ljust:post.grade %}
                            ★
                    {% endfor %}
                </span>
            </div>
        <p>
        {% if post.upload_files.url %}
            첨부파일 : <a href = "{{post.upload_files.url}}" download="{{post.upload_files.url}}">{{post.upload_files}}</a>
        {% endif %}
        <div class= 'content'>
            <p>수업 한줄평: {{post.content|linebreaks}}</p>
        </div>
    </div> 
        <div class = 'footer'>
            <a href = "{% url 'list' %}">돌아가기</a>
            {% if post.author.is_authenticated %}
                <a href = "{% url 'comment-new' post.pk %}">댓글쓰기</a>
            {% endif %}
            {% if post.author == user %}
                <a href = {% url 'update' post.id %}>수정하기</a>
                <a href = {% url 'delete' post.id %}>삭제하기</a>
            {% endif %}
        </div>
    </div>
    <h3>댓글창</h3>
    <ul class = "commentary">
        {% for comment in post.comment_set.all %}
        <div class = "cp-avatar" style="background-image:url('{{comment.author.profile_pic.url}}')"></div>
            <a href= "{% url 'profile' comment.author.id %}">{{comment.author.username}}</a>
        <div class ="comment-content">
        {{comment.comment}}
        </div>
            <div id = "date-time">
                <div>
                {% if comment.author == user %}
                    <a id ="update" href = "{{ comment.get_edit_url }}">&nbsp;수정</a>
                    <a id ="delete" href = "{{ comment.get_delete_url }}">&nbsp;삭제</a>
                {% endif %}
                </div>
                {% if comment.dt_updated %}
                    {{comment.dt_updated}}&nbsp;
                {% else %}
                    {{comment.dt_commented}}&nbsp;
                {% endif %}
            </div>
        {% endfor %}      
    </ul>
</div>
{% endblock content %}

