{% extends 'kky_base/base_with_navbar.html'%}

{% block widgets %}
{% endblock widgets%}

{% block content %}
<div class = "zokbo-form">
    <form method= "POST" enctype="multipart/form-data">{% csrf_token %}
    <div class= "review-form">
        <div class = 'cp-input'>
            수업명 : {{form.class_name}}
            교수명 : {{form.professor_name}}
            한줄평: {{form.content}}
        </div>  
        <div class ="meohyun">
            평점 : {{form.grade}}
            파일올리기 : {{form.upload_files}}
        </div>
        </div>
        <div class ="submit">
            <input type="submit" value ="작성완료">
            <a class ="return-button" href = "{% url 'index' %}">돌아가기</a>
        </div>
    </div>
</div>
{% endblock content %}
