{% extends 'coplate_base/base_with_navbar.html' %}
{% load static %}


{% block content %}
{% for post in posts %}
    <div>
        <div class ="content-list">
            <div class = "content">
                <a href = "{% url 'detail' post.id %}">{{post.class_name}}</a>
                <div class = "review-author">
            <div class = "cp-avatar" style="background-image:url('{{post.author.profile_pic.url}}')"></div>
        <span> {{post.author.nickname}}</span>
    </div>
    {% empty %}
    <p class = "body">등록된 글이 없어요!</p>
{% endfor %}
          <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
              <input type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
              <button type="submit">Search</button>
          </form>
{% endblock content %}
<title>{% block title %}족보모음 | 국경연{% endblock title %}</title>